<div *ngIf="!!resume">
  <div id="basic-info">
    <p>
      {{ basics.name }} | {{basics.label}}
    </p>
    <p>
      {{ basics.email }} | {{ basics.phone }}
    </p>
    <p>
      {{ basics.website }}
    </p>
    <p id="summary">
      {{ basics.summary }}
    </p>
  </div>
  <div id= "skills" *ngFor="let skill of resume.skills">
      Skill: {{skill.name}}<br/>
      Level: {{ skill.level }}
      <ul>
        <span *ngFor="let keyword of skill.keywords">
          {{keyword}}
        </span>
      </ul>
    </div>
  <div id="education">
      <div *ngFor="let ed of resume.education">
          <b>{{ed.institution}}<br/></b>
          {{ed.area}}
          {{ed.endDate}}
        </div>
  </div>
  <div id=work>
    <div *ngFor="let job of resume.work">
      <b>{{job.company}}<br/></b>
      {{job.position}}<br/>
      {{job.summary}}
      <ul>
        <div *ngFor="let highlight of job.highlights">
          <li>
            {{highlight}}
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div id="volunteer">
    <div *ngFor="let vol of resume.volunteer">
      <b>{{vol.organization}}<br/></b>
      {{vol.position}}<br/>
      {{vol.summary}}
      <ul>
        <div *ngFor="let highlight of vol.highlights">
          <li>
            {{highlight}}
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
  