<div *ngIf="!!resume">
  <div id="resume-basics">
    <p>
      {{ basics.name }} | {{basics.label}}
    </p>
    <p>
      {{ basics.email }} | {{ basics.phone }}
    </p>
    <p>
      {{ basics.website }}
    </p>
    <p>
      {{ basics.summary }}
    </p>
  </div>
  <div *ngFor="let vol of resume.work">
    {{vol.company}}
    {{vol.position}}
  </div>
  <div *ngFor="let vol of resume.volunteer">
    {{vol.organization}}
    {{vol.position}}
  </div>
  <div *ngFor="let ed of resume.education">
    {{ ed.institution }}
    {{ ed.area }}
    {{ ed.endDate }}
  </div>
  <div id= "skills" *ngFor="let skill of resume.skills">
    {{ skill.name }} - {{ skill.level }}
    <uL>
      <li *ngFor="let keyword of skill.keywords">
        {{ keyword }}
      </li>
    </uL>
  </div>
</div>
  